



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #910cdf 0%, #e10ae9 100%);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
.userProfile{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    right: 1.5rem;
    transform: translateY(-50%);
    
   
    
}
.profileName{
    position: absolute;
    top: 17%;
    right: 0.8rem;
    transform: translateY(-50%);
    font-size: small;
}


main {
    padding: 1rem;
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}

.post h2 {
    margin-top: 0;
}


.regForm{
    margin: 0 auto;
    width: 20%;
    padding: 4rem;
    border: 1px solid #7f22d6;
    border-radius: 10px;
    align-items: center;
    background-color: #7f22d6;
    
}
